*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background-color: whitesmoke;
}
.profile figure img{
    width: 200;
    height: 200;
    border-radius: 50%;
    margin-left: 45%;
}
.profile figure figcaption{
    margin-left: 0;
}
.card-container{
    display: flex;
    justify-content: center;

}
.card{
    width: 450px;
    margin: 50;

}
.line{
    width: 1px;
    height: auto;
    background-color: black;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    padding: 10px;
}
